include common/header.pug
include common/background.pug
main.aboutPage
    div.return
        a(href="/#about")
            i.fa.fa-long-arrow-left
    .twoColumsAbout
        img(src="./images/diseño-web-profesional.png", alt="sobre mi")
        div
            h1
                | dise&ntilde;o y 
                br
                |  desarrollo web
            hr.green.line
            ul
                li Carrera en diseño gr&aacute;fico y multimedia
                li Master en programaci&oacute;n web FullStack
        div
            h2 Sobre m&iacute;
            hr.blue.line
            p Mis primeros estudios estuvieron enfocados al dise&ntilde;o gr&aacute;fico y multimedia, gracias a esto tuve la posibilidad de conocer el mundo del dise&ntilde;o web y me fascino ya que un&iacute;a tanto el dise&ntilde;o como la parte m&aacute;s &quot;t&eacute;cnica&quot; de la programaci&oacute;n. Tras esto comenc&eacute; a trabajar centrada principalmente en el desarrollo con CMS como Wordpress, Prestashop etc.
            br 
            | Ya que vi que me gustaba decid&iacute; implementar mis estudios con un master en programaci&oacute;n que me ha abierto las puertas a poder crear y modificar c&oacute;digo de una forma m&aacute;s eficiente.
            br 
            | A parte de esto me considero una persona bastante perfeccionista y tenaz a la que le gusta buscar soluciones a todos los problemas. Dado que este sector cambia tanto me gusta estar lo m&aacute;s informada posible de todos los cambios y avances.

        img(src="./images/desarrollo-web.png", alt="creacion web")
    .twoColumsIcons
        each val in about
            div
                img(src=val.iconImg, alt=val.iconAlt)
                hr
                h3=val.tittle
                span=val.content
script(src="/js/menu.js")