include common/header.pug
include common/background.pug

main
    #bigContent
        section#sectOne.flex.fullScreen
            .textSection
                .mainContent
                    h2.upper 
                        |Aurora 
                        br 
                        |Moreno
                    .horLines
                    h1 
                        |Dise침o y
                        br
                        span desarrollo web
            #one.imageSection
                div
                div
        section#sectTwo.flex.fullScreen
            .textSection
                .mainContent
                    h2 
                        |Trabajos 
                        br 
                        |/ Proyectos
                    .horLines
                    h3 CMS  y desarrollo propio 
                    .button
                        button Ver m치s
            #two.imageSection
                div#principalImage
                section#singleParts
                    .sOne
                    .sTwo
                    .sThree
                    .sFour
                    .sFive
        section#sectThree.flex.fullScreen
            .textSection
                .mainContent
                    h2 Sobre mi
                    .horLines
                    h3
                        |Pasi칩n por
                        br
                        span las cosas bien hechas
                    .button
                        button Ver m치s
            #three.imageSection
                div
        section#sectFour.flex.fullScreen
            .textSection
                .mainContent
                    h2 
                        |Datos de
                        br
                        |contacto
                    .horLines
                    h3 aurorams94@gmail.com
                    .iconLinks
                        a(href="")
                            i.fa.fa-github
                        a(href="")
                            i.fa.fa-linkedin-square
            #four.imageSection
                .orangePlane
                .greenPlane
