include common/header.pug
include common/background.pug
main.fullPage.positioRel
    #principalPage.fullPage.swiper-container
        #totalHeight.swiper-wrapper.fullPage
            section(data-hash="init" )#sectOne.swiper-slide.flex
                #textSection
                        h2.upper 
                            |Aurora 
                            br 
                            |Moreno
                        .horLines
                            div
                            div
                        h1
                            |Diseño y
                            br
                            span desarrollo web
                #imgSectionOne.flex
                    div
                    div
            section(data-hash="works")#sectTwo.swiper-slide.flex
                #textSection
                        h2 
                            |Trabajos 
                        .horLines
                            div
                            div                    
                        h3 CMS  y desarrollo propio 
                        .button
                            button#moreWorks Ver más
                #imgSectionTwo
                    div#principalImage
                    div#singleParts
                        .sOne
                        .sThree
                        .sFour
                        .sTwo
                        .sFive
            section(data-hash="about")#sectThree.swiper-slide.flex
                #textSection
                        h2 Sobre mí
                        .horLines
                            div
                            div                   
                        h3
                            |Pasión por
                            br
                            span las cosas bien hechas
                        .button
                            button Ver más
                #imgSectionThree.flex
                    div
            section(data-hash="contact")#sectFour.swiper-slide.flex
                #textSection
                        h2 
                            |Datos de
                            br
                            |contacto
                        .horLines
                            div
                            div                    
                        h3 aurorams94@gmail.com
                        .contactLinks.flex
                            a(href="")
                                i.fa.fa-github
                            a(href="")
                                i.fa.fa-linkedin-square
                #imgSectionFour.flex
                    .orangePlane
                    .greenPlane
        #opacity.swiper-pagination
        #curtain
    include works.pug

script(src="/js/index.js" type='module')