include common/header.pug
include common/background.pug
main.swiper-container
    #fullpage.swiper-wrapper(style = 'transform:translate3d(0px, 0, 0)')
        section(data-hash="init" )#sectOne.swiper-slide.flex.fullScreen
            .textSection
                .mainContent
                    h2.upper 
                        |Aurora 
                        br 
                        |Moreno
                    .horLines
                        div
                        div
                    h3 
                        |Dise침o y
                        br
                        span desarrollo web
            #one.imageSection
                div
                div
        section(data-hash="works")#sectTwo.swiper-slide.flex.fullScreen
            .textSection
                .mainContent
                    h2 
                        |Trabajos 
                        br 
                        |/ Proyectos
                    .horLines
                        div
                        div                    
                    h3 CMS  y desarrollo propio 
                    .button
                        button#moreWorks Ver m치s
            #two.imageSection
                div#principalImage
                section#singleParts
                    .sOne
                    .sTwo
                    .sThree
                    .sFour
                    .sFive
        section(data-hash="about")#sectThree.swiper-slide.flex.fullScreen
            .textSection
                .mainContent
                    h2 Sobre mi
                    .horLines
                        div
                        div                   
                    h3
                        |Pasi칩n por
                        br
                        span las cosas bien hechas
                    .button
                        button Ver m치s
            #three.imageSection
                div
        section(data-hash="contact")#sectFour.swiper-slide.flex.fullScreen
            .textSection
                .mainContent
                    h2 
                        |Datos de
                        br
                        |contacto
                    .horLines
                        div
                        div                    
                    h3 aurorams94@gmail.com
                    .iconLinks
                        a(href="")
                            i.fa.fa-github
                        a(href="")
                            i.fa.fa-linkedin-square
            #four.imageSection
                .orangePlane
                .greenPlane
    #opacity.swiper-pagination
    #curtain

script(src="/js/index.js" type='module')
