body {
    margin: 0px;
    color: white;
}


#header{
    width: 100%;
    padding: 40px 40px 0;
    
    display: flex;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}



/* Estilos del generales */



a {
    text-decoration: none;
}

.positionRel {
    position: relative;
}

.positionAbs {
    position: absolute;
}

.positionFix {
    position: fixed;
    top: 0;
    left: 0;
}

.upLevel {
    z-index: 4;
}

.mediumLevel {
    z-index: 2;
}

.downLevel {
    z-index: -1;
}

.aligItemsCe {
    align-items: center;
}

.flex {
    display: flex;
    flex-flow: wrap;
}

.fullPage {
    width: 100%;
    height: 100%;
}

.upper {
    text-transform: uppercase;
}

#opacity {
    opacity: 0;
}

/* Estilos pg de inicio y generales */

.generalDocument {
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
}

#principalPage h2 {
    font-weight: 400;
    line-height: 0.9em;
    margin: 0 0 .2em 0;
    font-size: 7.3vw;
}

#principalPage h1, #principalPage h3 {
    font-weight: 300;
    margin: .8em 0 1.7em 0;
    font-size: 2.1vw;
}

#worksPage h2 {
    font-size: 3em;
}

#worksPage h4 {
    font-size: 1em;
}

/* Estilos del menu */

header {
    width: 100%;
    padding-bottom: 14px;
}

.menuContent {
    margin: .8em 1.3em 0;
    justify-content: space-between;
}

.menuContent a {
    color: white;
}

.menufont {
    font-size: .8em;
    font-weight: 500;
}

/* Estilos icono menu */

#iconMenu {
    width: 50px;
    height: 22px;
    cursor: pointer;
}

#iconMenu hr {
    width: 100%;
    height: 3px;
    background: #ffffff;
    right: 0;
    bottom: 9.6px;
    border: none;
    margin: 0;
    transition: 0.3s all ease;
}

#iconMenu::after {
    content: "";
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    right: 0;
    top: -4px;
    transform-origin: 45px;
    transition: 0.3s all ease;
}

#iconMenu::before {
    content: "";
    width: 100%;
    height: 3px;
    background: #ffffff;
    position: absolute;
    right: 0;
    bottom: -4px;
    transform-origin: 42px;
    transition: 0.3s all ease;
}

.iconLinks {
    margin: 0 1.2em;
    justify-content: space-between;
    width: 95px;
    font-size: 1.3em;
}

/* Estilos menu general */

nav {
    justify-content: center;
    transition: 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    transform: translate3d(0, -100%, 0);
    background: #07182bb8;
    display: none;
}

#navStyle ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

#navStyle a {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: .07em;
}

#navStyle li {
    margin: 1.2em 0;
    position: relative;
}

#navStyle ul li a::after {
    content: "";
    width: 0;
    height: 7px;
    background: #fff;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: 0.3s cubic-bezier(0.77, 0, 0.175, 1);
}

#navStyle ul li a:hover:after {
    width: 100%;
}

/* Estilos de fondo */

div#backgroundColor {
    background: #07182b;
}

div#backgroundImages div:first-child {
    background: url(../images/fistStain-01.svg)top no-repeat;
    min-width: 24em;
    width: 60%;
    height: 100%;
    right: 0;
}

div#backgroundImages div:last-child {
    height: 100%;
    width: 42%;
    background: url(../images/fistStain-02.svg) no-repeat;
    background-position: left bottom;
}

/* Estilos scroll */

#scrollIcon {
    width: 100%;
    top: -120px;
    justify-content: center;
    height: 90px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before, .chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    background: white;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    transform: skew(0deg, -30deg);
}

#greenArrow:before, #greenArrow:after {
    background: #d3ff4a;
}

div#scrollIcon p {
    top: 56px;
    font-size: .65em;
}

@keyframes move {
    25% {
        opacity: 1;
    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

/* Estilos seccion de contenido principal */

#principalPage section.swiper-slide {
    position: relative;
    overflow: hidden;
}

#principalPage section.swiper-slide>div:first-child {
    color: white;
    flex-direction: column;
    justify-content: center;
    display: flex;
    overflow: hidden;
    width: 45%;
    max-width: 700px;
    min-width: 460px;
    margin-right: 5%;
}

/* Estilos lineas horizontales */

.horLines {
    position: relative;
    height: 27px;
}

.horLines div {
    content: ' ';
    height: 6px;
    background: #d3ff4a;
    border-radius: 10px;
    position: absolute;
}

.horLines div:last-child {
    top: 21px;
    left: 37px;
    width: 7.6vw;
}

.horLines div:first-child {
    width: 7.8vw;
}

#textSection {
    /* position: absolute; */
    z-index: 2;
}

#principalPage span {
    margin-left: 36px;
}

div#totalHeight {
    height: 3876px;
}

.button button, .button a {
    font-family: 'Raleway';
    height: 57px;
    border-radius: 58px;
    border: 2px solid white;
    background: #364353;
    color: white;
    font-size: 1.3vw;
    text-transform: uppercase;
    letter-spacing: 3px;
    cursor: pointer;
    padding: 0 25px;
}

.button a {
    padding: 10px 20px;
}

.button button:hover, .button a:hover {
    background: #07182b;
}

.contactLinks a {
    color: white;
    font-size: 2em;
    margin-right: 40px;
}

div#curtain {
    width: 100%;
    height: 100%;
    background: #030c15;
    position: absolute;
    top: 0;
    z-index: 13;
    transition: all 1s cubic-bezier(0, 0, 0.41, 1.1);
}

/* Estilos img de fondo */

div#imgSectionOne div:first-child {
    background: url(../images/imgSectionOne-01.svg) no-repeat;
    background-size: contain;
    background-position: 0 145px;
    width: 60%;
    max-width: 427px;
    min-width: 300px;
    left: 0;
}

div#imgSectionOne div:last-child {
    background: url(../images/imgSectionOne-02.svg) no-repeat;
    background-size: contain;
    background-position: 0 419px;
    max-width: 455px;
    width: 60%;
    min-width: 320px;
    right: 0;
}

#principalImage {
    background: url(../images/imgSectionTwo-01.svg) no-repeat;
    background-position: 0 56%;
    height: 100%;
    min-width: 500px;
    max-width: 650px;
}

div#imgSectionThree div {
    background: url(../images/imgSectionThree-02.png) no-repeat;
    background-position: 70% 53%;
    width: 100%;
    opacity: 1;
}

.sOne {
    background: url(../images/singleParts-01.svg) no-repeat;
    background-position: 0 41%;
    width: 16%;
}

.sTwo {
    background: url(../images/singleParts-02.svg) no-repeat;
    background-position: 0 59%;
    width: 17%;
}

.sThree {
    background: url(../images/singleParts-03.svg) no-repeat;
    background-position: 0 28%;
    width: 14%;
}

.sFour {
    background: url(../images/singleParts-04.svg) no-repeat;
    background-position: 0 25%;
    left: 37px;
    width: 16%;
}

.sFive {
    background: url(../images/singleParts-05.svg) no-repeat;
    background-position: 0 36%;
    left: -51px;
    width: 16%;
}

.orangePlane {
    background: url(../images/orangePlane-01.svg) no-repeat;
    background-size: 100%;
    background-position: 0 bottom;
    height: 100%;
    width: 55%;
    position: absolute;
    /* opacity: 0; */
    left: 27%;
}

.greenPlane {
    background: url(../images/greenPlane-01.svg) no-repeat;
    background-size: 100%;
    background-position: 0 130%;
    height: 100%;
    width: 29%;
    position: absolute;
    /* opacity: 0; */
    right: 0;
}

#workPage section {
    display: grid;
    align-items: center;
    grid-template-columns: 47% 47%;
    grid-gap: 6%;
    overflow: hidden;
}

.display {
    visibility: hidden;
}

.imageSection {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.imageSection img {
    position: absolute;
}

.works-content {
    width: 500px;
}

.works-content h2 {
    font-size: 2.8em;
    font-weight: 500;
    line-height: 1em;
    margin: 0;
}

.works-content h4 {
    font-weight: 300;
    font-size: 1em;
    margin: 20px 0;
}

.works-content hr {
    border: 0;
    background: #ff9200;
    height: 7px;
    width: 43%;
    margin: 19px 19px 50px;
    margin-left: 0px;
}

.works-content button {
    font-size: .5em;
    width: 150px;
    height: 50px;
    margin-top: 20px;
}

.imageSection:nth-child(2) {
    background-color: darkblue;
}

img.background2 {
    width: 784px;
}

img.img3 {
    width: 750px;
}

img.background3 {
    width: 773px;
}

img.background0 {
    width: 490px;
}

img.img2 {
    width: 761px;
    bottom: -260px;
}

.swiper-button-next {
    margin-right: 45px;
}

.swiper-button-prev {
    margin-left: 45px;
}

/* background: linear-gradient(180deg, rgba(7,24,43,1) 0%, rgba(7,24,43,0.6250875350140056) 100%); */

.allWorks h1 {
    color: #07182b;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0;
}

.allWorks hr {
    width: 130px;
    border: none;
    height: 7px;
    background: #d3ff4a;
    border-radius: 20px;
}

.colorFondo {
    background: #a6b5bf;
    margin-top: 1.5em;
    padding: .8em 0;
    height: 1200px;
}

.allWorks h3 {
    font-size: .9em;
    font-weight: 700;
    color: #07182b;
    text-transform: uppercase;
    margin-bottom: 0;
}

.central {
    display: grid;
}

.threeColums {
    grid-template-columns: auto auto auto;
    column-gap: 5%;
    justify-content: center;
    /* margin: 0 10em; */
}

.allWorks p {
    font-size: 0.7em;
    font-weight: 100;
}

.item1 {
    grid-row-start: 1;
    grid-row-end: 3;
}

.twoColums {
    grid-template-columns: auto auto;
    margin: 0 7em 0 2em;
    align-items: center;
}

.totalHeight {
    height: 1800px;
}

.twoColums h4 {
    font-size: 1.8em;
    text-transform: uppercase;
    font-weight: 600;
    color: #07182b;
    margin: 0 0 0 .7em;
}

.twoColums span {
    font-size: 3em;
    font-weight: 700;
}

.twoColums div.flex {
    align-items: baseline;
}

.twoColums .item2 span {
    color: #d3ff4a;
}

.twoColums .item3 span {
    color: #ff9200;
}

.item3 p {
    color: #07182b;
}

.lastSection {
    background: #07182b;
    justify-content: center;
    align-items: center;
    padding: 18px 0;
    margin-top: 50px;
}

.lastSection i {
    font-size: 2em;
    color: #d3ff4a;
}

.lastSection p {
    margin: 0 20px;
}

.lastSection a {
    color: white;
    font-size: .7em;
    transition: all 0.5s ease;
}

.lastSection a:hover {
    color: #d9d6d1;
}

.backgElCasar {
    background: url(../images/works/el_casar/img_2.jpg)no-repeat;
    height: 100%;
    background-attachment: fixed;
    height: 543px;
    margin: 45px 0;
}

.backgGrafica {
    background: url(../images/works/grafica/img_2.jpg)no-repeat;
    height: 100%;
    background-attachment: fixed;
    height: 543px;
    margin: 45px 0;
}

.backgEvocarte {
    background: url(../images/works/evocarte/img_2.jpg)no-repeat;
    height: 100%;
    background-attachment: fixed;
    height: 543px;
    margin: 45px 0;
}

.backgBeExpand {
    background: url(../images/works/beExpand/img_2.jpg)no-repeat;
    height: 100%;
    background-attachment: fixed;
    height: 543px;
    margin: 45px 0;
}

.backgKynesit {
    background: url(../images/works/kynesit/img_2.jpg)no-repeat;
    height: 100%;
    background-attachment: fixed;
    height: 543px;
    margin: 45px 0;
}

div#principalPage {
    /* padding: 0 40px; */
}

#principalPage section {
    width: auto;
    justify-content: space-between;
    margin: 0 10vw;
}

#singleParts div {
    background-size: 100%;
    height: 100%;
    position: relative;
}

#singleParts {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: flex-end;
    right: 4%;
    max-width: 600px;
}

#principalPage section.swiper-slide>div:last-child {
    width: 50%;
    min-width: 500px;
}

div#imgSectionOne {
    position: relative;
    justify-content: flex-end;
}

div#singleParts div {
    margin: 0 12px;
}

div#imgSectionOne div {
    position: absolute;
    height: 100%;
}

.close:after {
    transform: rotate(-45deg);
}

.close:before {
    transform: rotate(45deg);
}

.close hr {
    opacity: 0;
}

@media only screen and (max-width: 1316px) {
    #principalPage section.swiper-slide {
        margin-right: 0;
    }
    div#imgSectionOne {
        /* width: 50%; */
        /* min-width: 300px; */
        flex-direction: column;
        /* position: relative; */
    }
    #principalPage section.swiper-slide>div:first-child {
        min-width: 370px;
        margin: 0;
    }
    div#imgSectionOne div {}
    div#imgSectionOne div:first-child {
        /* height: 342px; */
        background-position: 0 30%;
        /* top: 75px; */
        /* z-index: 1; */
    }
    div#imgSectionOne div:last-child {
        background-position: 0 80%;
        background-size: 328px;
    }
    #principalPage h2 {
        font-size: 8.4vw;
    }
    .horLines div:first-child {
        width: 9.8vw;
    }
    .horLines div:last-child {
        width: 9.6vw;
    }
    #principalPage h1, #principalPage h3 {
        margin: .8em 0 0.9em 0;
        font-size: 3vw;
    }
    #principalImage {
        min-width: 474px;
        width: 80%;
    }
    #singleParts {
        width: 42%;
        right: 0%;
        min-width: 440px;
    }
}

@media only screen and (max-width: 1024px) {
    #principalPage section.swiper-slide>div:first-child {
        width: 100%;
        max-width: 100%;
    }
    #principalPage h2 {
        font-size: 11.4vw;
        font-weight: 500;
    }
    .horLines div:first-child {
        width: 19.8vw;
    }
    .horLines div:last-child {
        width: 21.6vw;
    }
    #principalPage h1, #principalPage h3 {
        margin: .8em 0 0.9em 0;
        font-size: 3.4vw;
        font-weight: 400;
    }
    #principalPage section.swiper-slide>div:last-child {
        position: absolute;
        height: 100%;
        width: 60%;
        right: 0;
        opacity: .5;
    }
    .orangePlane {
        left: -28%;
        width: 87%;
    }
    .greenPlane {
        width: 48%;
        right: 15%;
    }
}

/* @media screen and (max-device-height: 1024px) {
    div#imgSectionOne div:first-child {
        background-position: 340px 0px;
        max-width: 100%;
        width: 100%;
        background-size: 460px;
    }
    div#imgSectionOne div:last-child {
        background-position: 0px bottom;
        background-size: 440px;
    }
    #principalPage section.swiper-slide>div:last-child {
        height: 59%;
        width: 100%;
        bottom: 24%;
    }
} */

div#imgSectionTwo {
    transform: translateX(0px);
}

#closeWorks:after {
    transform: rotate(45deg);
}

#closeWorks:before, #closeWorks:after {
    content: ' ';
    position: absolute;
    height: 4px;
    width: 50px;
    background: white;
}

div#closeWorks {
    width: 85px;
    margin: auto;
    height: 85px;
    position: absolute;
    background: #1a2a3b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 100px;
    align-items: center;
    border: 3px solid #7698b8;
    cursor: pointer;
    z-index: 3;
    opacity: 0.8;
    top: 13%;
    margin-left: 8vw;
    transition: opacity 0.6s ease;
}

div#closeWorks:hover {
    opacity: 1;
}

#closeWorks:before {
    transform: rotate(-45deg);
}


picture {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* div#closeWorks {
    width: 85px;
    margin: auto;
    height: 85px;
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 100px;
    align-items: center;
    cursor: pointer;
    z-index: 3;
    top: 7%;
    left: 17px;
    font-size: 2vw;
    color: white;
}

#closeWorks:hover {
    transform: translate3d(-15%, 0, 0);
} */