section#background
    #backgroundColor
    #backgroundImages
        div
        div
    #scrollIcon
        #whiteArrow.chevron
        #greenArrow.chevron
        .chevron
        p Scroll Down
    #scrollDots
        ul
            li 
                a(href="")
            li
                a(href="")
            li
                a(href="")
            li
                a(href="")