section#background.fullPage
    #backgroundColor.fullPage
    #backgroundImages.fullPage
        div
        div
    #scrollIcon
        .chevron
        #greenArrow.chevron
        .chevron
        p.positionAbs Scroll Down
#curtain