section#background.fullPage.positionFix.downLevel
    #backgroundColor.fullPage.positionFix.downLevel
    #backgroundImages.positionRel.fullPage.mediumLevel
        div.positionAbs
        div.positionAbs
    #scrollIcon.positionRel.flex.mediumLevel
        .chevron
        #greenArrow.chevron
        .chevron
        p.positionAbs Scroll Down
    