section#background
    #backgroundColor
    #backgroundImages
        div
        div
    #scrollIcon
        #whiteArrow.chevron
        #greenArrow.chevron
        .chevron
        p Scroll Down
    