link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
header
    a(href="")
    div
        div
            a(href="")
                i(class="fa fa-github")
            a(href="")
                i(class="fa fa-linkedin-square")
        div
    nav
        ul
            li
                a(href="")
            li
                a(href="")
            li
                a(href="")
            li
                a(href="")