doctype html
html(lang='es')
    include links.pug
    body
        header#header
                a.menufont(href="/") Aurora MS
                .headerContent
                    .iconsHeader
                        a(href="https://github.com/aurora-ms", target='_blank')
                            i.fa.fa-github
                        a(href="https://www.linkedin.com/in/aurora-m-moreno-s%C3%A1nchez-5617661a7/", target='_blank')
                            i.fa.fa-linkedin-square
                    #menuHeader
                        hr.positionAbs
                nav#principalMenu
                    ul
                        li
                            a(href="/#init") Inicio
                        li
                            a(href="/#works") Trabajos
                        li
                            a(href="/#about") Sobre mi
                        li
                            a(href="/#contact") Contacto
                        .iconsMenu
                            a(href="https://github.com/aurora-ms", target='_blank')
                                i.fa.fa-github
                            a(href="https://www.linkedin.com/in/aurora-m-moreno-s%C3%A1nchez-5617661a7/", target='_blank')
                                i.fa.fa-linkedin-square


